<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-instagram"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-youtube"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-github"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-google"></a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'M, yyyy'}},
            <a href="#" target="_blank">@Powerized by DavidNoN</a>
        </div>
    </div>
</footer>