<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <i class="fab fa-facebook"></i>
                </li>
                <li>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>
                    <i class="fab fa-google"></i>
                </li>
                <li>
                    <i class="fab fa-youtube"></i>
                </li>
                <li>
                    <i class="fab fa-github"></i>
                </li>
                <li>
                    <i class="fab fa-instagram"></i>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'M, yyyy'}},
            <a href="#" target="_blank">@Powerized by DavidNoN</a>
        </div>
    </div>
</footer>