<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mi perfil</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput *ngIf="auth.userProfile$ | async as profile" placeholder="Nombre: {{profile.given_name}} (disabled)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput *ngIf="auth.userProfile$ | async as profile" placeholder="Apellidos: {{profile.family_name}} (disabled)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput *ngIf="auth.userProfile$ | async as profile" placeholder="Nombre de usuario: {{profile.nickname}} (disabled)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput *ngIf="auth.userProfile$ | async as profile" placeholder="E-mail: {{profile.email}} (disabled)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Ciudad: Pereira">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card text-white bg-warning mb-3" style="max-width: 40rem;">
                                    <div class="card-header">¡Advertencia!</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Actualizar perfil</h5>
                                        <p class="card-text">Para actualizar los campos de su perfil es necesario que los actualice en su correo y/o cuenta de Google, cierre sesión y vuelva a iniciar.</p>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" mat-raised-button (click)="auth.logout()" class="btn btn-danger pull-right">Borrar Cuenta</button>
                            <div class="clearfix "></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card card-profile ">
                    <div class="card-avatar ">
                        <a href="javascript:void(0) ">
                            <img class="img " *ngIf="auth.userProfile$ | async as profile " src="{{ profile.picture }} " />
                        </a>
                    </div>
                    <div class="card-body ">
                        <!-- <h6 class="card-category text-gray ">CEO / Co-Founder</h6> -->
                        <h4 class="card-title " *ngIf="auth.userProfile$ | async as profile ">{{ profile.given_name }}</h4>
                        <p class="card-description " *ngIf="showMsg">
                        </p>
                        <a routerLink="/contest" class="btn btn-danger btn-round">Empezar a Jugar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>