<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="accordion" id="faqExample">
                                <div class="card">
                                    <div class="card-header p-2" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Pregunta: ¿Por qué consursar?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Porque la plataforma brinda diferentes concursos didácticos para que los usuarios se puedan entretener.
                                            Dependiendo de cada respuesta correcta se van acumulando monedas que más adelante se pueden redimir.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Pregunta: ¿Cómo se puede redimir las monedas obtenidas?
                                        </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> En la tienda de premios
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              Pregunta: ¿Cuál es la cantidad mínima de monedas para obtener algún premio?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> En la tienda de premios estarán publicados los precios, una vez oprima en el botón de <strong><b>ver más</b></strong>, mostrará la información necesaria.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Pregunta: ¿Como recibiré el premio ganado?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Primero debe de oprimir el botón de comprar y allí se le descontarán las monedas por el valor de la compra, 
                                            luego lo conectará a una appi de envíos la cual puede ser servientrega o alguna otra empresa y por último se generará la orden de envío a la dirección suministrada.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Pregunta: ¿El premio sólo se puede redimir en tiendas físicas o también en tiendas virtuales?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Si la página contratante tiene la posibilidad de brindarnos los bonos electrónicos o por medio de códigos de descuentos, 
                                            entonces se pueden redimir de esta forma. Por el contrario, si la tienda es fisíca, el bono será enviado al lugar donde la persona indique.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                Pregunta: ¿Cómo puedo enterarme cuando hay nuevos concursos?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> En el botón de notificaciones mostrará avisos de los nuevos concursos.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                Pregunta: ¿Como puedo ver mi perfil?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Una vez se registren, ingresan a la página inicial, donde dice Mi perfil oprimen allí y luego muestra toda la información personal. 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingEight">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                Pregunta: ¿Cuánto es el tiempo determinado para redimir el premio?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Esta información será brindada cuando obtenga el premio.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingNine">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                Pregunta: ¿Cuanto tiempo tarda en llegar el premio?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Depende del lugar de ubicación, por lo general tardaría de una a dos semanas.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingTen">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                Pregunta:¿El envío del premio tendrá algún costo?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> El envío de cada premio es totalmente gratuito, lo que quiere decir que no tiene costo alguno.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--container-->
            </div>
        </div>
    </div>
</div>